<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- ลบ handler ที่มีอยู่แล้วสำหรับ PHP -->
            <remove name="PHP_via_FastCGI" />
            <!-- เพิ่ม handler ใหม่สำหรับ PHP 8.3 -->
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
