/* container ด้านบนฝั่งขวา */
.custom{  
    height: 200px;
    width: 100%;
    background: rgb(247, 255, 247);
    padding: 2rem; 
  }
  
  .box-1{
    background: #252525;
    padding: 30px;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: block;
    text-align: center;
  
  }
  
  .box-1 p{
    color: white;
  }
  
  .logo{
    font-size: 50px;
    color: aquamarine;
  }
  
  /* table */
  .bg-custom{
    margin-top: 4rem;
    background: black;
  }
  .btn-detail{
    text-decoration: none;
    background: rgb(85, 196, 198);
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 2px;
  }
  